:root {
  --main-color: #00b289;
  --primary-font-color: #0d0d14;
  --secondary-font-color: #4c4d5f;
  --white-font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-font-color);
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

a:hover {
  color: var(--primary-font-color);
}

.header,
.navbar,
.nav-left,
.nav-left > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  gap: 200px;
  padding: 2rem 0;
}

.navbar {
  gap: 100px;
}

.nav-left {
  gap: 30px;
}

.nav-left > a {
  gap: 2px;
}

.login {
  padding: 0.6rem 1rem;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-right: 1rem;
  color: var(--main-color);
}

.start-here {
  padding: 0.6rem 1.5rem;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 5px;
  color: var(--white-font-color);
}
