:root {
  --main-color: #00b289;
  --hover-main-color: #00a37e;
  --primary-font-color: #0d0d14;
  --secondary-font-color: #4c4d5f;
  --white-color: #fbfcff;
  --header-color: #4c525a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-font-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

h1 {
  color: var(--header-color);
  font-weight: 300;
  font-size: 2.2rem;
}

/* NAVBAR */

.header {
  background-color: #fff;
  padding: 1.5rem 0;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header,
.navbar-desktop,
.nav-left,
.nav-left > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left {
  margin-right: 5rem;
}

.navbar-desktop {
  display: none;
  gap: 100px;
}

.navbar-mobile svg {
  width: 1.2rem;
  cursor: pointer;
}

.nav-left {
  gap: 30px;
}

.nav-left > a {
  gap: 5px;
}

.icon > path {
  fill: var(--secondary-font-color);
}

.nav-left > a:hover > .icon > path {
  fill: var(--primary-font-color);
}

.nav-left > a:hover {
  color: var(--primary-font-color);
}

.login {
  padding: 0.7rem 1.2rem;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-right: 1rem;
  color: var(--main-color);
  font-weight: 600;
  font-size: 0.8rem;
}

.login:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.start-here {
  padding: 0.7rem 1.6rem;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 5px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 0.8rem;
}

.start-here:hover {
  background-color: var(--hover-main-color);
}

/* MAIN */

.main {
  position: relative;
  height: 1585px;
  overflow-x: hidden;
}

.hero-shape {
  background-color: #f2faff;
  position: absolute;
  top: -60%;
  right: 0;
  bottom: -1px;
  width: 90%;
  height: 120%;
  border-radius: 94px;
  transform: rotate(-23deg);
  z-index: -1;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 176px;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 58rem;
  margin-bottom: 1rem;
}

.section-title > h1 {
  font-family: 'Merriweather';
  margin: 3rem 0;
}

.options-container {
  display: flex;
  align-items: center;
  position: relative;
}

.options-container:last-child {
  padding-right: 2rem;
}

.offer-img {
  position: absolute;
  right: 0;
  padding-bottom: 3rem;
}

/* SLIDER BUTTON */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 29px;
  margin: 0 3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* SLIDER BUTTON END */

.card-container {
  max-width: 58rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.plan-card {
  background-color: var(--white-color);
  border: 1px solid #000;
  padding: 3rem 2rem;
  min-height: 611px;
  max-width: 29rem;
  box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.card-title {
  color: var(--header-color);
  letter-spacing: 2px;
}

.popular-tag {
  background-color: var(--main-color);
  padding: 0.7rem;
  text-align: center;
  color: var(--white-color);
  font-weight: 600;
  transform: rotate(40deg);
  position: absolute;
  width: 350px;
  top: 40px;
  left: 70px;
  letter-spacing: 2px;
}

.perk-list {
  list-style: none;
  padding: 2.5rem 0;
  color: var(--secondary-font-color);
}

.perk {
  padding-bottom: 1.5rem;
}

.new-tag {
  display: inline-block;
  padding: 0 4px;
  border-radius: 1px;
  background-color: #f8db62;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.checkmark {
  margin-right: 1rem;
}

.price-container {
  display: flex;
  padding: 2rem 0;
  font-family: Roboto;
  font-weight: 900;
  color: var(--header-color);
  border-bottom: 2px solid var(--main-color);
}

.money-symbol {
  align-self: flex-start;
  font-size: 1.7rem;
  font-weight: 300;
}

.price-dollar {
  font-size: 3.5rem;
  padding: 0 0.5rem;
}

.price-month {
  align-self: flex-end;
  font-size: 1.7rem;
  font-weight: 300;
}

.start-free-btn {
  color: var(--white-color);
  background-color: var(--main-color);
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 5px;
  font-weight: 900;
  border: none;
}

.start-free-btn:hover {
  background-color: var(--hover-main-color);
}

@media only screen and (min-width: 375px) {
  .plan-card {
    min-width: 23rem;
  }
  .popular-tag {
    left: 120px;
  }
}

@media only screen and (min-width: 1100px) {
  .navbar-desktop {
    display: flex;
  }

  .navbar-mobile {
    display: none;
  }

  .header-left {
    margin-right: 10rem;
  }

  .hero-shape {
    top: -65%;
    right: -26%;
  }

  .pricing-section {
    padding-top: 10rem;
  }

  .section-title {
    flex-direction: row;
  }

  .section-title h1 {
    margin-right: 5rem;
  }

  .card-container {
    flex-direction: row;
  }

  .plan-card {
    min-width: 28rem;
    padding: 4rem;
  }

  .popular-tag {
    top: 45px;
    left: 200px;
  }
}
